#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:rgb(168, 123, 72); 
  font: italic; 
}

body{
  background-color:rgb(246, 246, 232); 
}

.grid-container {
  display: grid; 
  grid-template-areas: 'upperLeft Welcome Welcome Welcome Welcome upperRight'
                      'upperLeft nav nav nav nav upperRight'
                      'playlist body body body body moodCal'
                      'playlist body body body body moodCal'
                      'fact body body body body moodCal'
                      'fact body body body body moodCal'
                      'footer footer footer footer footer footer'; 
  grid-gap: 10px;
  color: rgb(165, 106, 42); 
  padding: 10px; 

}

.Welcome1 {
  grid-area: Welcome; 
  border: solid black;
  margin: 40px; 
  padding: 20px;
  background-color: #faebeb; 
  font-style: italic; 
}

.upperleft{
  grid-area: upperLeft;
}

.upperright{
  grid-area: upperRight;
}

.navBar{
  grid-area: nav;
  box-sizing: border-box; 
  margin:10px;
  padding: 15px;
  background-color:#DED0C2;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:500;
  font-size:16px; 
  color:rgb(239, 238, 238);
  text-decoration: none; 
  display: flex; 
  justify-content: space-between;
  align-items:center; 
  list-style: none; 

}

.playlist1{
  grid-area: playlist;
}

.funfact1{
  grid-area: fact;
}

.body1{
  grid-area: body;
}

.moodInsights{
  grid-area: moodCal;
}

.footer1{
  grid-area: footer;
}
