#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:rgb(168, 123, 72);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
 
 
 body{
  background-color:rgb(255, 255, 255);
 }
 
 
 .grid-container {
  display: grid;
  grid-template-areas: 'upperLeft Welcome Welcome Welcome Welcome upperRight'
                      'nav nav nav nav nav nav'
                      'playlist body body body body moodCal'
                      'playlist body body body body moodCal'
                      'fact body body body body moodCal'
                      'fact body body body body moodCal'
                      'footer footer footer footer footer footer';
  grid-gap: 10px;
  color: rgb(165, 106, 42);
  padding: 10px;
 
 
 }
 
 
 .Welcome1 {
  grid-area: Welcome;
  border: solid black;
  border-radius: 25px;
  margin: 30px;
  text-align: center;
  padding: 0px;
  background-color: #faebeb; 
  top:0;
  align-items:center;
 }
 
 
 .upperleft{
  grid-area: upperLeft;
 }
 
 
 .upperright{
  grid-area: upperRight;
 }
 
 
 .nav1{
  grid-area: nav;
  box-sizing:border-box;
  width:100%;
  background-color:#DED0C2;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
  margin: 20px;
 }
 
 
 .navBar{
  color:rgb(239, 238, 238);
  /*text-decoration:none;*/
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 
 
 .navBar a{
  color: rgb(115, 81, 49);
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-weight:bold;
  font-size:16px;
 }
 
 
 .playlist1{
  grid-area: playlist;
  background-color: #C2E1D4;
  border-radius: 25px;
  padding-top: 40px;
  padding-bottom: 30px;
 }
 
 
 .funfact1{
  grid-area: fact;
  background-color: #C2E1D4;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 
 
 .body1{
  grid-area: body;
  background-color: #E2EDF4;
  border-radius: 25px;
 }
 
 
 .moodInsights{
  grid-area: moodCal;
  background-color: #F7CC97;
  border-radius:25px;
 }
 
 
 .footer1{
  grid-area: footer;
  border: solid black;
 } 