#root {
  max-width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'Welcome Welcome Welcome Welcome Welcome Welcome'
    'nav nav nav nav nav nav'
    'playlist body body body body moodCal'
    'playlist body body body body moodCal'
    'fact body body body body moodCal'
    'fact body body body body moodCal'
    'footer footer footer footer footer footer';
  grid-gap: 20px;
  padding: 20px;
}

/* .Welcome1 {
  grid-area: Welcome;
  color: rgb(121, 91, 59);
  box-shadow: 0 4px 6px rgba(230, 77, 77, 0.6);
  border-radius: 25px;
  margin: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #faebeb;
} */

.nav1 {
  grid-area: nav;
  background-color: #DED0C2;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav1 a {
  color: rgb(115, 81, 49);
  font-weight: bold;
  font-size: 16px;
}

.nav1 a:hover {
  text-decoration: underline;
  color: #4A3A2E; /* Slightly darker color on hover */
}

.playlist1 {
  grid-area: playlist;
  background-color: #027325;
  box-shadow: 0 4px 6px #027325;
  border-radius: 20px;
}

.body1 {
  grid-area: body;
  background-color: #E2EDF4;
  border-radius: 25px;
  color: rgb(21, 2, 8);
  width: 600px;
}

.moodInsights {
  grid-area: moodCal;
  background-color: #F7CC97;
  border-radius: 25px;
}

.footer1 {
  grid-area: footer;
  border: solid black;
  padding: 10px; /* Added padding for better appearance */
}
